<div class="px-4 py-8">
  <a
    href="{{ routes.collections_url }}"
    class="inline-flex items-center gap-2 border border-gray-300 text-gray-700 hover:bg-gray-100 hover:text-gray-900 rounded-full px-5 py-2 transition duration-300"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      class="w-4 h-4"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
    </svg>
    Back to Collections
  </a>

  {% paginate collection.products by section.settings['numer_of-_product_per_page'] %}
    <h1 class="text-3xl text-center"><b>{{ collection.title }}</b></h1>

    <div class="max-w-6xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for product in collection.products %}
          {% render 'product-card', product_product: product %}

        {% else %}
          <p>There are no products inside of this collection</p>
        {% endfor %}
      </div>
    </div>

    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
</div>
{% schema %}
{
  "name": "Collection Template",
  "settings": [
    {
      "type": "number",
      "id": "numer_of-_product_per_page",
      "default": 6,
      "label": "Number of products per page"
    }
  ]
}
{% endschema %}
